html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-size: 1.6rem;
    height: 150rem;
}

a {
    text-decoration: none;
}

/* Header */
header {
    background-color: #465b75;
    padding: 10px ;
    position: relative;
}

header nav a:hover {
    color: #808080;
}

header nav {
    position: absolute;
    right: 25px;
    top: 25px;
}

header nav a {
    margin: 0 10px ;
}

h1, nav a, footer a {
    color: #ffffff;
}

h1 {
    margin-left: 30px;
}

/* Contenido principal */
main, .contenedor_principal {
    background-color: #dee9f7;
    display: flex;
}

.contenedor_principal {
    margin: 0 auto;
}


.contenedor-productos {
    background-color: #ffffff;
    margin: 20px 10px;
}

.menu, .productos {
    background-color: #ffffff;
    padding: 10px 15px;
}

/* Menu */

.menu {
    margin: 20px 0 0 20px
}

.seleccion-flex {
    display: flex;
    flex-direction: column;
}

select {
    margin-bottom: 10px;
}

/* Productos */

.productos {
    display: flex;
    flex-flow: wrap;
}

.contenedor-productos h2 {
    display: inline-block;
    margin: 0;
    padding: 20px;
}

.producto a h3 {
    color: #000000;
}

.producto {
    margin: 0 25px;
}

.producto p {
    margin: 0 0 10px 0;
}

.producto span, .precio, .producto a h3{
    font-weight: bold;
}

.precio {
    color: #ff6347;
    font-size: 3rem;
}

/* Bordado */

.border {
    border: 1px solid #6a6f75;
}

/* Pie de pagina */

footer {
    display: flex;
    background-color: #333333;
    color: #ffffff;
    padding: 20px;
}

footer span {
    font-weight: bold;
    font-size: 3rem;
}

footer .flex-item {
    padding: 10px;
}

footer a {
    font-weight: bold;
}

.guion {
    content: '';
    display: block;
    width: 33.3rem;
    height: .2rem;
    background-color: #ffffff;
}