body {
    background-color: #f0efe7;
}

.flex {
    display: flex;
}

.wrap {
    flex-wrap: wrap;
}

.centrar {
    align-items: center;
}

.limite {
    justify-content: space-between;
}

a {
    text-decoration: none;
}

/* Header */

.contenedor-header {
    margin: 0 auto;
    width: 940px;
}

.logo {
    width: 110px;
    height: 46px;
}

.contenedor-header_p {
    display: inline-block;
    color: #9a9994;
    margin-left: 8px;
    font-size: 24px;
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
}

.contenedor-input {
    border-radius: 20px;
    border: 1px solid #ceccc5;
    padding: 0 0 32 0;
    background-color: #fcfcfa;
    width: 300px;
}

.lupa {
    margin-left: 8px;
}

.input-text {
    padding: 5px;
    width: 100%;
    border: 0;
    background-color: transparent;
}

.input-text:focus {
    outline: none;
}

/* Main */
/* Main con Background */
.contenedor-main {
    width: 940px;
    margin: 0 auto;
}

.background {
    padding: 20px 15px;
    background: url('../imagenes/background-image.png') repeat;
    height: 255px;
    margin-bottom: 28px;
}

p {
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
}

.section-p {
    margin-top: 0;
    width: 558px;
    font-size: 18px;
    line-height: 26px;
}

.section-p a {
    color: #0388a6;
}

.main-img {
    width: 389px;
    height: 251px;
    margin-left: 30px;
}

/* Main sin background */

/* nav */

.contenedor-nav {
    width: 618px;
    border-right: solid 1px #d8d7cf;
}

.nav {
    height: 256px;
    margin-bottom: 15px;
}

.nav ul {
    padding-top: 24px;
}

ul {
    padding-left: 0;
    margin: 0 0 11px 0;
}

.imagen {
    width: 74px;
    height: 74px;
}

.nav-ul-li {
    list-style: none;
}

.nav-ul-li a {
    color: #4e443c;
}

.red {
    color: #f14e32;
    font-weight: bold;
    font-size: 18px;
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
}

.nav-ul-li a p {
    font-size: 13px;
}

.contenedor-a {
    width: 280px;
    height: 86px;
}

.nav-config {
    margin-right: 30px;
    margin-bottom: 40px;
}

.nav-documentation {
    margin-bottom: 40px;
}

.nav-descarga {
    margin-right: 30px;
    margin-bottom: 20px;
}

.nav-comunity {
    margin-bottom: 20px;
}

.contenedor-a a div p, .contenedor-a a div h3 {
    margin-left: 11px;
}

/* debajo del nav */

.libro {
    width: 56px;
    height: 74px;
    margin-right: 20px;
}

.bold {
    font-weight: bold;
}

.texto {
    font-size: 14px;
    line-height: 22px;
}

.texto a {
    color: #0388a6;
}

.caja {
    width: 590px;
    padding-top: 20px;
    border-top: 1px solid #d8d7cf;
}

/* imagen al lado del nav */

.contenedor-absoluto {
    width: 313px;
    height: 271px;
    position: relative;
    left: 20px;
}

.monitor {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}

.texto-monitor {
    position: absolute;
    top: 25px;
    left: 40px;
}

.texto-monitor h4 {
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
    margin: 21px 0 0 0;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
}

.version {
    margin: 0;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 6px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
    color: #ffffff;
}

.lanzamiento a {
    text-decoration: underline;
    color: #eeeeee;
}

.lanzamiento {
    margin: 0;
    color: #ffffff;
    font-size: 12px;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0);
}

.boton-descarga {
    color: #ffffff;
    justify-content: center;
    margin: 12px 0 0 0;
    border-radius: 2px;
    width: 225px;
    height: 33px;
    border: solid 1px #134143;
    background-image: linear-gradient(#1c868c, #186368);
}

.contenedor-links {
    width: 330px;
}

.contenedor-links ul {
    list-style: none;
}

.ul-links li {
    width: 145px;
    height: 44px;
}

.ul-links {
    padding: 20px;
    margin: 0;
}

.links {
    color: #0388a6;
    font-size: 14px;
}

.links p {
    font-weight: bold;
}

.img {
    width: 20px;
    height: 20px;
}

.img2 {
    width: 20px;
    height: 18px;
}

.img3 {
    width: 20px;
    height: 18px;
}

.img4 {
    width: 25px;
    height: 20px;
}

.img, .img2, .img3, .img4 {
    margin-right: 5px;
}

/* Contenedor logos */

.contenedor-logos {
    width: 940px;
}

.h3-logos {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
}

.img-logo {
    width: 108px;
    height: 65px;
    margin: 0 4px 25px 5px;
}

.caja-logos {
    padding-top: 20px;
    border-top: solid 1px #d8d7cf;
}

/* Footer */

.footer-img {
    position: relative;
    top: 4px;
    height: 23px;
    width: 37px;
    margin-right: 5px;
}

.contenedor-footer {
    margin: 0 auto;
    width: 940px;
    margin-top: 5px;
    padding: 15px 0 40px 0;
    border-top: solid 1px #d8d7cf;
}

.footer-a {
    color: #403f3c;
    font-size: 12px;
    font-family: Roboto Slab, DejaVu Serif, Georgia, Times New Roman, sans-serif !important;
}

.footer-p {
    margin: 0;
    color: #9a9994;
    font-size: 12px;
}

.borde {
    border-top: 1px solid #d8d7cf;
}